<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="navbar"
     class="customer-navbar">

    <div class="customer-navbar-inner">

        <!-- BRAND -->
        <a class="customer-brand" th:href="@{/}">
            Smart Contact Manager
        </a>

        <!-- MOBILE MENU BUTTON -->
        <input type="checkbox"
               id="before-menu-toggle"
               class="customer-menu-toggle">

        <label for="before-menu-toggle"
               class="customer-menu-button">
            ☰
        </label>

        <!-- BEFORE LOGIN NAVIGATION -->
        <div class="customer-nav-menu">

            <a class="customer-nav-link"
               th:href="@{/}">
                Home
            </a>

            <a class="customer-nav-link"
               th:href="@{/about}">
                About
            </a>

            <a class="customer-nav-link"
               th:href="@{/signin}">
                Login
            </a>

            <a class="customer-nav-link"
               th:href="@{/signup}">
                Sign Up
            </a>

        </div>

    </div>

</nav>
</body>
</html>